<!--BODY  INICIO-->

<body id="grad1">

    <!--CAROUSEL INICIO   |||| NO TOCAR |||| -->
    <div class="container-fluid " id="carrousel">
        <!-- style="background-color:chocolate ;" -->
        <div class="row">
            <div class="row align-items-center">
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/eating 1.jpg" class="d-block w-100" alt="..." style="max-height:80vh;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Uriel</h5>
                                <p>4 meses</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/eating 2.jpg" class="d-block w-100" alt="..." style="max-height:80vh;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Ariana</h5>
                                <p>9 meses</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/eating 5.jpg" class="d-block w-100" alt="..." style="max-height:80vh;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Gabriela</h5>
                                <p>4 meses</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/eating 4.jpg" class="d-block w-100" alt="..." style="max-height:80vh;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Mateo</h5>
                                <p>7 meses</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--CAROUSEL END-->

    <br>

    <!--CARD wrapper INICIO  |||| NO-TOCAR|||| -->
    <div class="container-fluid">
        <!--style="background-color:darkblue ;"-->
        <div class="row">

            <div class="card-group">

                <!--CARD 1-->
                <div class="col-sm d-flex col-md-3 mx-auto" style="width: 18rem;" id="card">
                    <div class="card">
                        <img class="card-img-top" src="images/9.jpg" alt="Biologia Amamantar"
                            style="width: 18rem; height: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Qué Pasa Cuando Damos La Teta?</h5>
                            <p class="card-text">Querés saber qué hace tu cuerpo cuando conectás con tu bebé?</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="#teta" class="btn btn-outline-info">Si, Ver</a></small>
                        </div>
                    </div>
                </div>

                <!--CARD 2-->
                <div class="col-sm d-flex col-md-3 mx-auto" style="width: 18rem;" id="card">
                    <div class="card">
                        <img class="card-img-top" src="images/Flor (4).jpg" class="card-img-top" alt="Flor"
                            style="width: 18rem; height: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;"> Hola! <br> <b> Soy Flor </b> <br> tu Pueri 
                            </h5>
                            <p class="card-text" style="text-align: center;">😊</p>
                        </div>
                        <div class="card-footer text-center">
                            {{!-- <small class="text-muted"><a href="#" class="btn btn-primary">Si!</a></small> --}}
                            <div class="container">
                                <!-- Button trigger modal -->
                                <small><button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" style="text-align: center;">
                                        Sobre Mi
                                    </button></small>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header mx-auto">
                                                <h5 class="modal-title" id="exampleModalLabel">Sobre Flor</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate
                                                minima harum, inventore omnis consectetur tenetur obcaecati corporis
                                                modi, aut beatae rem laudantium dolores itaque optio quos fuga dolorum
                                                cum! Ab!
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--CARD 3-->
                <div class="col-sm d-flex col-md-3 mx-auto" style="width: 18rem;" id="card">
                    <div class="card">
                        <img class="card-img-top" src="images/Artboard 2.png" class="card-img-top" alt="Redes"
                            style="width: 18rem; height: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Redes</h5>
                            <p class="card-text">Seguinos en nuestras redes sociales!</p>
                        </div>
                        <div class="card-footer text-right">
                            <small class="text-muted"><a href="#redes" class="btn btn-outline-info "
                                    style="float: right;"> 🌟 Follow! </a></small>
                        </div>
                    </div>
                </div>
            </div>




            <!--CONTACTO INICIO-->



            <section id="contacto" class="section">
                <div class="row">
                    <div class="col-md-6">

                        <div id="#contacto">
                            <!-- style="background-color: pink ;"-->
                            <h1> Dónde Estamos? </h1>

                            <!--MAPA-->
                            <div class="iframe-rwd">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.749631843317!2d-58.496733984775524!3d-34.50923106001178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb117cc9dcfcb%3A0xe52a6efc63a2c14b!2sMariano%20Pelliza%201767%2C%20B1636FCY%20Olivos%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1664224657359!5m2!1ses!2sar"
                                    width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!--FIN MAPA-->

                    <div class="col-md-6">
                        <div class="ajustador">
                            <!-- style="background-color:darkcyan"  -->
                            <h1>Contactanos</h1>

                            <!--FORMULARIO CONTACTO INICIO-->
                            <form action="/" method="post">
                                <div class="mb-3">


                                    <label for="exampleFormControlInput1" class="form-label">Direccion de e-mail</label>
                                    <input type="email" class="form-control" id="FormControlInput1"
                                        placeholder="name@example.com" name="email">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Cual es tu
                                        consulta?</label>
                                    <textarea class="form-control" id="FormControlTextarea1" rows="3"
                                        name="mensaje"></textarea>
                                </div>
                                <button type="submit" class="btn btn-light">Enviar</button>
                            </form>

                            <!--FORMULARIO CONTACTO FIN-->


                            <!--API WHATSAPP -->

                            <div class="col-sm">
                                <div class="col" id="ajustador">
                                    <!--style="background-color: green ;" -->
                                    <h1>Escribíme un WhatsApp!</h1>
                                    <button class="btn" style="margin-left: 30% ;"><a
                                            href="https://api.whatsapp.com/send?phone=5491167251559" target="_blank">
                                            <img src="images/WhatsApp_Logo_6 transp.png" width="100px"></a></button>

                                </div>
                            </div>
                            <!--API WHATSAPP FIN-->

                        </div>
                    </div>

                </div>
        </div>
    </div>
    </section>



    <!--NOTICIAS  |||| NO-TOCAR|||| -->
    <div class="ajustador">
        <!--style="background-color:grey ;"-->
        <section id="noticias" class="section">
            <h1>Noticias</h1>
            <div class="txt-right">

                <ul> Visitá la <a href="https://www.acadp.org.ar/" target="_blank"><img id="acadp-img" alt="A C A D P"
                            src="images/ACADP-transp.png"> </a>
                </ul>
            </div>
            <div class="ajustador">
                <div id="novedades" class="row py-4" style="padding-left: 3%;padding-right:2%">

                    {{#each novedades}}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="font-family: Georgia, serif; ;">
                                <a data-target="#modal{{id}}">{{titulo}}</a>
                            </h5>
                            <p class="card-text" style="font-family:Verdana, Geneva, Tahoma, sans-serif">{{subtitulo}}
                            </p>
                            <div><p><img src="{{imagen}}" alt="imagen" class="imagenCel"></p></div>
                            
                            <p class="card-text"><small class="text-muted">{{cuerpo}}</small></p>
                            {{!-- <a href="#" class="btn btn-outline-info btn-sm">Fuente</a> PARA EL FUTURO, FALTA URL
                            EN
                            TABLA --}}

                        </div>
                    </div>

                    {{/each}}


                </div>
            </div>
        </section>
    </div>
    <!--FIN NOTICIAS  |||| NO-TOCAR|||| -->

    <!--VIDEO RESPONSIVE  |||| NO-TOCAR|||| -->
    <section id="teta" class="section">
        <div class="ajustador">
            <!-- style="background-color:aqua;"-->
            <h1>Qué pasa cuando amamantamos?</h1>
            <div class="card-body">
                <div class="row-container">
                    <div class="first-row">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/LGk5SjE2a8A"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                    <div class="col" id="teta-text">
                        <div class="card text-center">
                            <div class="card-footer text-muted"> Cuando el bebé succiona el pezón, manda una señal al
                                cerebro de la madre para que se
                                produzca la
                                prolactina y la oxitocina, las dos hormonas encargadas de la producción y salida de
                                la leche a
                                través de los pezones. La prolactina es la hormona que hace que la mamá se sienta
                                relajada durante
                                el amamantamiento.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--FIN VIDEO RESPONSIVE |||| NO-TOCAR|||| -->
    <!--REDES INICIO  |||| NO-TOCAR|||| -->
    <section id="redes" class="section">

        <div class="row ajustador">
            <!--style="background-color:deepskyblue ;" -->

            <h1>Seguinos en nuestras redes sociales!</h1>

            {{!-- ///////////////// ICONOS REDES SOCIALES/////////////////////// --}}

            <div id="redesIcons" id="socialmediaIcons" class="ajustador">
                {{!-- //////////////// Alineado a la derecha via CSS/////////////////////// --}}

                {{!-- FACEBOOK --}}
                <button class="socialmediaIcons" onclick="location.href='https://www.facebook.com/ACADPoficial'"
                    target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-facebook" viewBox="0 0 16 16">
                        <path
                            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                    </svg>
                </button>
                {{!-- LINKEDIN --}}


                <button class="socialmediaIcons"
                    onclick="location.href='https://www.linkedin.com/company/asociaci%C3%B3n-civil-argentina-de-puericultura-acadp/?originalSubdomain=ar'"
                    target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path
                            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                    </svg></button>


                {{!-- INSTAGRAM --}}
                <button class="socialmediaIcons"
                    onclick="location.href='https://www.instagram.com/acadp_lactanciaycrianza/'" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-instagram" viewBox="0 0 16 16">
                        <path
                            d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                    </svg>
                </button>

                {{!-- TWITTER --}}
                <button class="socialmediaIcons" onclick="location.href='https://twitter.com/ACADPoficial'"
                    target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-twitter" viewBox="0 0 16 16">
                        <path
                            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                    </svg></button>


                {{!-- TWITCH --}}
                <button class="socialmediaIcons" onclick="location.href='https://www.twitch.tv/acadparg'"
                    target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-twitch" viewBox="0 0 16 16">
                        <path
                            d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z" />
                        <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z" />
                    </svg></button>


                {{!-- TELEGRAM --}}
                <button class="socialmediaIcons" onclick="location.href=' https://telegram.org/'" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-telegram" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z" />
                    </svg></button>

                {{!-- YOUTUBE --}}
                <button class="socialmediaIcons"
                    onclick="location.href=' https://www.youtube.com/asociacioncivilargentinadepuericultura"
                    target="_blank">
                    <i class="bi bi-youtube">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-youtube" viewBox="0 0 16 16">
                            <path
                                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                        </svg></i></button>



                {{!-- ///////////////// ICONOS REDES SOCIALES////////// FIN ///////////// --}}

            </div>

            <div class="col-sm">
                <!--TWT INICIO ||||NO TOCAR||||-->
                <div class="float-child" id="twitterFeed">
                    <!--style="background-color: orange ;" -->


                    <a class="twitter-timeline" data-tweet-limit="3"
                        href="https://twitter.com/ACADPoficial?ref_src=twsrc%5Etfw">Tweets by
                        ACADPoficial</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                </div>
                <!--TWT FIN-->
            </div>


            <!--IG INICIO |||||NO TOCAR|||||-->
            <div class="col-sm">

                <div class="float-child">
                    <!-- style="background-color: yellow ; " -->

                    <blockquote class="instagram-media" data-instgrm-captioned
                        data-instgrm-permalink="https://www.instagram.com/p/CKeRJCFA5u2/?utm_source=ig_embed&amp;utm_campaign=loading"
                        data-instgrm-version="14"
                        style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                        <div style="padding:16px;"> <a
                                href="https://www.instagram.com/p/CKeRJCFA5u2/?utm_source=ig_embed&amp;utm_campaign=loading"
                                style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
                                target="_blank">
                                <div style=" display: flex; flex-direction: row; align-items: center;">
                                    <div
                                        style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;">
                                    </div>
                                    <div
                                        style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                                        <div
                                            style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;">
                                        </div>
                                        <div
                                            style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;">
                                        </div>
                                    </div>
                                </div>
                                <div style="padding: 19% 0;"></div>
                                <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg
                                        width="50px" height="50px" viewBox="0 0 60 60" version="1.1"
                                        xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                                                <g>
                                                    <path
                                                        d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631">
                                                    </path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg></div>
                                <div style="padding-top: 8px;">
                                    <div
                                        style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">
                                        Ver esta publicación en Instagram</div>
                                </div>
                                <div style="padding: 12.5% 0;"></div>
                                <div
                                    style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                                    <div>
                                        <div
                                            style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);">
                                        </div>
                                        <div
                                            style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;">
                                        </div>
                                        <div
                                            style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);">
                                        </div>
                                    </div>
                                    <div style="margin-left: 8px;">
                                        <div
                                            style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;">
                                        </div>
                                        <div
                                            style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)">
                                        </div>
                                    </div>
                                    <div style="margin-left: auto;">
                                        <div
                                            style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);">
                                        </div>
                                        <div
                                            style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);">
                                        </div>
                                        <div
                                            style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);">
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                                    <div
                                        style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;">
                                    </div>
                                    <div
                                        style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;">
                                    </div>
                                </div>
                            </a>
                            <p
                                style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
                                <a href="https://www.instagram.com/p/CKeRJCFA5u2/?utm_source=ig_embed&amp;utm_campaign=loading"
                                    style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;"
                                    target="_blank">Una publicación compartida por ACADP (@acadpoficial)</a>
                            </p>
                        </div>
                    </blockquote>
                    <script async src="//www.instagram.com/embed.js"></script>

                </div>
                <!--IG FIN-->
            </div>
            <!--IG FIN -->
        </div>




    </section>
    <!--FIN REDES  |||| NO-TOCAR|||| -->

</body>
<!--BODY  FIN-->